<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-center" id="gambar">
                    <img src="../media/default.png" alt="Profile Picture" style="width:250px; border-radius: 50%;">                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
                <table class="mb-3">
                    <tr>
                        <td>Username</td>
                        <td class="pl-3" id="uname">
                            {% if username %}
                                : {{username}}
                            {% else %}
                                : dummy123
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Nama</td>
                        <td class="pl-3" id="nama">
                            {% if nama %}
                                : {{nama}}
                            {% else %}
                                : Dummy
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Semester</td>
                        <td class="pl-3" id="sem">
                            {% if sem %}
                                : {{sem}}
                            {% else %}
                                : 7
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Motto</td>
                        <td class="pl-3" id="motto">: <i>
                            {% if motto %}
                                {{motto}}
                            {% else %}
                                : Just keep swimming!
                            {% endif %}
                        </i></td>
                    </tr>
                </table>
                <button type="button" data-toggle="modal" data-target="#changeProfil">Edit Profile</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="changeProfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeProfilTitle"><b>Change Profile</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    {% csrf_token %}
                    {{user_form.as_p}}
                    {{profile_form.as_p}}
                    <input type="submit" class="btn btn-primary" value="Submit" id = "tombol" />           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
            </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/profil.js' %}"></script>
    {% endblock %}
</body>
</html>